@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Italic.eot);
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url(./fonts/TTLakes-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Italic.woff) format('woff'),
        url(./fonts/TTLakes-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraLight.eot);
    src: local('TT Lakes Condensed ExtraLight'), local('TTLakesCondensed-ExtraLight'),
        url(./fonts/TTLakesCondensed-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Regular.eot);
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url(./fonts/TTLakesCompressed-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Regular.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ThinItalic.eot);
    src: local('TT Lakes Compressed Thin Italic'), local('TTLakesCompressed-ThinItalic'),
        url(./fonts/TTLakesCompressed-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Medium.eot);
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url(./fonts/TTLakesCondensed-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Medium.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot);
    src: local('TT Lakes Compressed ExtraBold Italic'), local('TTLakesCompressed-ExtraBoldItalic'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraLightItalic.eot);
    src: local('TT Lakes ExtraLight Italic'), local('TTLakes-ExtraLightItalic'),
        url(./fonts/TTLakes-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakes-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-LightItalic.eot);
    src: local('TT Lakes Light Italic'), local('TTLakes-LightItalic'),
        url(./fonts/TTLakes-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-LightItalic.woff) format('woff'),
        url(./fonts/TTLakes-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Thin.eot);
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url(./fonts/TTLakes-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Thin.woff) format('woff'),
        url(./fonts/TTLakes-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-DemiBoldItalic.eot);
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url(./fonts/TTLakes-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Black.eot);
    src: local('TT Lakes Condensed Black'), local('TTLakesCondensed-Black'),
        url(./fonts/TTLakesCondensed-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Black.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-LightItalic.eot);
    src: local('TT Lakes Condensed Light Italic'), local('TTLakesCondensed-LightItalic'),
        url(./fonts/TTLakesCondensed-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-LightItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-DemiBold.eot);
    src: local('TT Lakes Condensed DemiBold'), local('TTLakesCondensed-DemiBold'),
        url(./fonts/TTLakesCondensed-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-DemiBold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraBold.eot);
    src: local('TT Lakes Compressed ExtraBold'), local('TTLakesCompressed-ExtraBold'),
        url(./fonts/TTLakesCompressed-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraBoldItalic.eot);
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url(./fonts/TTLakes-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraLight.eot);
    src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
        url(./fonts/TTLakes-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakes-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Bold.eot);
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Bold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ThinItalic.eot);
    src: local('TT Lakes Condensed Thin Italic'), local('TTLakesCondensed-ThinItalic'),
        url(./fonts/TTLakesCondensed-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot);
    src: local('TT Lakes Condensed ExtraBold Italic'), local('TTLakesCondensed-ExtraBoldItalic'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Medium.eot);
    src: local('TT Lakes Compressed Medium'), local('TTLakesCompressed-Medium'),
        url(./fonts/TTLakesCompressed-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Medium.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Thin.eot);
    src: local('TT Lakes Condensed Thin'), local('TTLakesCondensed-Thin'),
        url(./fonts/TTLakesCondensed-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Thin.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Italic.eot);
    src: local('TT Lakes Compressed Italic'), local('TTLakesCompressed-Italic'),
        url(./fonts/TTLakesCompressed-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Italic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Light.eot);
    src: local('TT Lakes Compressed Light'), local('TTLakesCompressed-Light'),
        url(./fonts/TTLakesCompressed-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Light.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-LightItalic.eot);
    src: local('TT Lakes Compressed Light Italic'), local('TTLakesCompressed-LightItalic'),
        url(./fonts/TTLakesCompressed-LightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-LightItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Regular.eot);
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url(./fonts/TTLakesCondensed-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Regular.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Light.eot);
    src: local('TT Lakes Condensed Light'), local('TTLakesCondensed-Light'),
        url(./fonts/TTLakesCondensed-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Light.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Bold.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(./fonts/TTLakes-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Bold.woff) format('woff'),
        url(./fonts/TTLakes-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-DemiBold.eot);
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url(./fonts/TTLakes-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-DemiBold.woff) format('woff'),
        url(./fonts/TTLakes-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Thin.eot);
    src: local('TT Lakes Compressed Thin'), local('TTLakesCompressed-Thin'),
        url(./fonts/TTLakesCompressed-Thin.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Thin.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Black.eot);
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url(./fonts/TTLakes-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Black.woff) format('woff'),
        url(./fonts/TTLakes-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-MediumItalic.eot);
    src: local('TT Lakes Medium Italic'), local('TTLakes-MediumItalic'),
        url(./fonts/TTLakes-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakes-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraBold.eot);
    src: local('TT Lakes Condensed ExtraBold'), local('TTLakesCondensed-ExtraBold'),
        url(./fonts/TTLakesCondensed-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-ExtraLightItalic.eot);
    src: local('TT Lakes Condensed ExtraLight Italic'), local('TTLakesCondensed-ExtraLightItalic'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Medium.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Medium.woff) format('woff'),
        url(./fonts/TTLakes-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-DemiBoldItalic.eot);
    src: local('TT Lakes Condensed DemiBold Italic'), local('TTLakesCondensed-DemiBoldItalic'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-BoldItalic.eot);
    src: local('TT Lakes Compressed Bold Italic'), local('TTLakesCompressed-BoldItalic'),
        url(./fonts/TTLakesCompressed-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraLightItalic.eot);
    src: local('TT Lakes Compressed ExtraLight Italic'), local('TTLakesCompressed-ExtraLightItalic'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Regular.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(./fonts/TTLakes-Regular.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Regular.woff) format('woff'),
        url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-BoldItalic.eot);
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url(./fonts/TTLakes-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakes-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-MediumItalic.eot);
    src: local('TT Lakes Condensed Medium Italic'), local('TTLakesCondensed-MediumItalic'),
        url(./fonts/TTLakesCondensed-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-Italic.eot);
    src: local('TT Lakes Condensed Italic'), local('TTLakesCondensed-Italic'),
        url(./fonts/TTLakesCondensed-Italic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-Italic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ThinItalic.eot);
    src: local('TT Lakes Thin Italic'), local('TTLakes-ThinItalic'),
        url(./fonts/TTLakes-ThinItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ThinItalic.woff) format('woff'),
        url(./fonts/TTLakes-ThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-DemiBold.eot);
    src: local('TT Lakes Compressed DemiBold'), local('TTLakesCompressed-DemiBold'),
        url(./fonts/TTLakesCompressed-DemiBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-DemiBold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-DemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-BlackItalic.eot);
    src: local('TT Lakes Black Italic'), local('TTLakes-BlackItalic'),
        url(./fonts/TTLakes-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakes-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Bold.eot);
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Bold'),
        url(./fonts/TTLakesCompressed-Bold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Bold.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-BlackItalic.eot);
    src: local('TT Lakes Condensed Black Italic'), local('TTLakesCondensed-BlackItalic'),
        url(./fonts/TTLakesCondensed-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-MediumItalic.eot);
    src: local('TT Lakes Compressed Medium Italic'), local('TTLakesCompressed-MediumItalic'),
        url(./fonts/TTLakesCompressed-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-MediumItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url(./fonts/TTLakesCondensed-BoldItalic.eot);
    src: local('TT Lakes Condensed Bold Italic'), local('TTLakesCondensed-BoldItalic'),
        url(./fonts/TTLakesCondensed-BoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCondensed-BoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCondensed-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-ExtraLight.eot);
    src: local('TT Lakes Compressed ExtraLight'), local('TTLakesCompressed-ExtraLight'),
        url(./fonts/TTLakesCompressed-ExtraLight.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-ExtraLight.woff) format('woff'),
        url(./fonts/TTLakesCompressed-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-ExtraBold.eot);
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url(./fonts/TTLakes-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-ExtraBold.woff) format('woff'),
        url(./fonts/TTLakes-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-DemiBoldItalic.eot);
    src: local('TT Lakes Compressed DemiBold Italic'), local('TTLakesCompressed-DemiBoldItalic'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-DemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-BlackItalic.eot);
    src: local('TT Lakes Compressed Black Italic'), local('TTLakesCompressed-BlackItalic'),
        url(./fonts/TTLakesCompressed-BlackItalic.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-BlackItalic.woff) format('woff'),
        url(./fonts/TTLakesCompressed-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(./fonts/TTLakes-Light.eot);
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url(./fonts/TTLakes-Light.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakes-Light.woff) format('woff'),
        url(./fonts/TTLakes-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url(./fonts/TTLakesCompressed-Black.eot);
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url(./fonts/TTLakesCompressed-Black.eot?#iefix) format('embedded-opentype'),
        url(./fonts/TTLakesCompressed-Black.woff) format('woff'),
        url(./fonts/TTLakesCompressed-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes';
  background-color: #f8f8f8; }

h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  letter-spacing: -0.6px; }

p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  line-height: 18px;
  line-height: 16px; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

@media (min-width: 1440px) {
  .servise {
    display: flex;
    width: 1440px;
    margin-left: auto;
    margin-right: auto; } }

.mobile-menu {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  top: -100vh;
  width: 100%;
  z-index: -100;
  transition-duration: 0.5s; }
  .mobile-menu__content {
    height: 100%;
    padding-top: 18px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    background-color: white;
    transition-duration: 0.5s; }
  .mobile-menu__main {
    padding-top: 46px; }
  .mobile-menu__flex {
    display: flex;
    flex-direction: column;
    gap: calc(100vh - 770px); }
  @media (min-width: 768px) and (max-width: 1439px) {
    .mobile-menu {
      left: -400px;
      top: 0;
      transition-duration: 0.5s;
      width: 320px; }
      .mobile-menu__content {
        width: 320px;
        background-color: white;
        box-shadow: 20px 0 52px 0px #0e185033;
        padding-bottom: 32px; } }
  @media (min-width: 1440px) {
    .mobile-menu {
      width: 320px;
      position: static;
      height: auto;
      z-index: 200; }
      .mobile-menu__content {
        padding-top: 30px;
        box-sizing: border-box; }
      .mobile-menu__main {
        padding-top: 36px; } }

.menu-header {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  width: 100%; }
  .menu-header__burger {
    margin-left: 0;
    margin-right: 16px; }
  .menu-header__search {
    margin-right: 0;
    margin-left: auto; }
  @media (min-width: 1439px) {
    .menu-header__burger {
      display: none !important; } }

.list {
  list-style-type: none;
  z-index: 100; }
  .list__item {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.2px;
    height: 32px;
    font-weight: 500;
    transition-duration: 1s;
    display: flex;
    margin-bottom: 24px; }
    .list__item::before {
      content: '';
      border-right: 4px solid;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-color: #41f6d7;
      opacity: 0;
      transition-duration: 200ms;
      position: absolute;
      left: 0; }
  .radio-button:checked + .list__item {
    opacity: 0.5;
    transition-duration: 1s; }
    .radio-button:checked + .list__item::before {
      opacity: 1;
      transition-duration: 1s;
      height: 32px; }

.radio-button {
  display: none; }

.footer-menu__icons {
  display: flex;
  gap: 16px;
  padding-bottom: 16px; }

.footer-menu__position-mail {
  padding-bottom: 12px; }

.footer-menu__mail {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: black;
  text-decoration: none; }

.footer-menu__position-number {
  padding-bottom: 40px; }

.footer-menu__phone-number {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 800;
  color: black;
  text-decoration: none; }

.footer-menu__lang-change {
  display: flex;
  gap: 8px; }

.footer-menu__lang {
  transition-duration: 0.8s; }
  .radio-button:checked + .footer-menu__lang {
    opacity: 0.5;
    transition-duration: 0.8s; }

.body {
  position: relative;
  transition: 0.5s; }
  @media (min-width: 1440px) {
    .body {
      width: 1120px;
      position: static; } }

.header {
  margin: 0;
  height: 88px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #d9fff5;
  padding: 0 16px;
  font-family: 'TT Lakes';
  background-color: white; }
  .header__title {
    display: none; }
  .header__icon {
    display: flex; }
  .header__burger {
    align-items: center; }
  .header__group {
    margin-left: 16px; }
  .header__repair-info {
    display: none; }
  .header__checkstatus-info {
    display: none; }
  .header__repair {
    align-items: center;
    margin-right: 16px;
    margin-left: auto; }
    .header__repair::before {
      content: '';
      height: 32px;
      width: 2px;
      border-radius: 1px;
      background-color: #eaeaea;
      margin-right: 20px; }
  .header__call {
    display: none; }
  .header__chat {
    display: none; }
  .header__profile {
    display: none; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .header {
      padding: 0 24px; }
      .header__repair {
        margin-left: 0; }
      .header__profile {
        display: flex;
        margin-right: 20px; }
      .header__chat {
        display: flex;
        margin-right: 16px; }
      .header__call {
        display: flex;
        margin-right: 16px;
        margin-left: auto; }
      .header__burger {
        outline: none; }
        .header__burger::after {
          content: '';
          height: 32px;
          width: 2px;
          border-radius: 1px;
          background-color: #eaeaea;
          margin-left: 20px; }
      .header__group {
        margin-left: 20px; } }
  @media (min-width: 1440px) {
    .header {
      background-color: #f8f8f8;
      border: none;
      height: 40px;
      align-items: auto;
      padding-top: 42px;
      padding-left: 0;
      padding-right: 32px; }
      .header__title {
        display: flex; }
      .header__h1::before {
        content: '';
        margin-right: 30px;
        border-right: 4px solid;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-color: #41f6d7; }
      .header__burger {
        display: none; }
      .header__group {
        display: none; }
      .header__repair-info {
        display: flex;
        margin-left: auto;
        margin-right: 8px;
        font-size: 16px;
        font-weight: 500; }
      .header__repair {
        margin-left: 0;
        margin-right: 32px; }
        .header__repair::before {
          display: none; }
      .header__checkstatus-info {
        display: flex;
        font-size: 16px;
        font-weight: 500; }
      .header__checkstatus {
        margin-left: 8px; } }

.main {
  background-color: #f8f8f8;
  padding-top: 24px;
  padding-bottom: 24px; }
  .main__title {
    padding-bottom: 24px; }
  .main__h1::before {
    content: '';
    border-right: 4px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #41f6d7;
    margin-right: 12px; }
  .main__container2 {
    padding: 0 16px;
    padding-bottom: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column; }
  .main__informathion1 {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    line-height: 18px; }
  .main__informathion2 {
    display: none;
    margin: 0; }
  .main__informathion3 {
    display: none;
    margin: 0; }
  .main__img1 {
    width: 100%;
    height: auto; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .main__h1::before {
      margin-right: 20px; }
    .main__container1 {
      margin: 0;
      padding: 0;
      display: inline-flex;
      flex-wrap: wrap;
      min-width: 720px;
      padding: 0 24px;
      gap: 7%; }
    .main__img1 {
      margin: 0;
      padding: 0;
      width: 50%;
      min-width: 320px;
      height: auto;
      order: 0;
      border-radius: 5px; }
    .main__container2 {
      margin: 0;
      padding: 0;
      display: flex;
      width: 43%; }
    .main__informathion2 {
      display: flex; } }
  @media (min-width: 1440px) {
    .main {
      padding-top: 8px; }
      .main__title {
        display: none; }
      .main__slide-menu {
        padding-left: 34px;
        overflow: visible;
        white-space: nowrap;
        flex-wrap: wrap; }
      .main .slide-menu__item {
        padding: 8px 22px; }
        .main .slide-menu__item:hover {
          padding: 6px 20px; }
      .main__container1 {
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-wrap: wrap;
        min-width: 720px;
        padding-right: 24px;
        padding-left: 34px;
        gap: 3%; }
      .main__img1 {
        margin: 0;
        padding: 0;
        width: 50%;
        min-width: 320px;
        height: auto;
        order: 0;
        border-radius: 5px; }
      .main__container2 {
        margin: 0;
        padding: 0;
        display: flex;
        width: 47%;
        flex-direction: column;
        gap: 20px; }
      .main__informathion3 {
        display: flex;
        margin: 0; } }

.slide-menu {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  margin: 0;
  padding: 0 16px;
  padding-bottom: 24px; }
  .slide-menu::after {
    background: linear-gradient(270deg, #f8f8f8 16.836%, transparent);
    content: '';
    height: 44px;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 200; }
  .slide-menu::before {
    background: linear-gradient(90deg, #f8f8f8 16.836%, transparent);
    content: '';
    height: 44px;
    position: absolute;
    left: 0;
    width: 24px;
    z-index: 200; }
  .slide-menu__item {
    color: #7e7e82;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 8px 16px; }
    .slide-menu__item:hover {
      padding: 6px 14px;
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #ffffff; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .slide-menu {
      padding-bottom: 32px;
      padding-left: 24px; } }
  @media (min-width: 1440px) {
    .slide-menu {
      padding-left: 34px;
      overflow: visible;
      white-space: nowrap;
      flex-wrap: wrap; }
      .slide-menu::after {
        display: none; }
      .slide-menu::before {
        display: none; }
      .slide-menu__item {
        padding: 8px 22px; }
        .slide-menu__item:hover {
          padding: 6px 20px; } }

.more-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: flex;
  padding-left: 8px;
  gap: 16px; }
  .more-text__icon {
    display: inline-block;
    color: #41f6d7;
    transform: rotate(90deg); }

.swiper-title {
  margin: 0;
  padding: 0;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  white-space: -0.2px;
  font-weight: 400;
  color: #7e7e82;
  background: linear-gradient(to right, #f8f8f8 0%, white 80%);
  border-top: 1px solid #d9fff5; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .swiper-title {
      padding-right: 24px;
      padding-left: 24px; } }
  @media (min-width: 1440px) {
    .swiper-title {
      padding-right: 32px;
      padding-left: 32px; } }

@media (min-width: 768px) {
  .swiper-pagination {
    display: none; } }

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #b5b6bc !important; }

.more-content {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: none;
  padding-left: 8px;
  gap: 16px;
  text-decoration: none;
  color: black;
  border: none;
  background-color: #f8f8f8; }
  .more-content__icon {
    display: inline-block;
    color: #41f6d7;
    transform: rotate(90deg);
    transition-duration: 0.5s; }
  @media (min-width: 768px) {
    .more-content {
      display: flex; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .full-brands {
    height: 360px !important;
    transition-duration: 0.5s; } }

@media (min-width: 1440px) {
  .full-brands {
    height: 270px !important;
    transition-duration: 0.5s; } }

.swiper-position {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .swiper-position {
      padding-left: 24px; } }
  @media (min-width: 1439px) {
    .swiper-position {
      padding-left: 32px; } }

.footer {
  width: 100%;
  height: 130px;
  opacity: 0.72;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .footer__text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row; } }

.open-menu {
  z-index: 1000;
  left: 0;
  top: 0;
  transition-duration: 0.5s;
  transition-property: left, top; }

.flex-button {
  display: flex; }

.button-style {
  background-color: transparent;
  border: none;
  transition-duration: 0.5s;
  margin: 0;
  padding: 0;
  outline: none !important; }
  .button-style:hover {
    transform: scale(1.1);
    transition-duration: 0.5s; }

.technic {
  height: 204px;
  width: 100%;
  background-color: #f8f8f8;
  box-sizing: border-box; }
  .technic__wrapper {
    padding-top: 16px; }
  .technic__slide {
    width: 240px !important;
    height: 72px !important; }
  .technic__text {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 206px;
    height: 128px;
    background-color: white;
    padding: 16px 16px;
    display: flex;
    justify-content: space-between; }
  .technic__type {
    font-size: 16px;
    line-height: 24px;
    white-space: -0.2px;
    font-weight: 500; }
  .technic__circal {
    height: 36px;
    width: 36px;
    border: 2px solid #ff3e79;
    border-radius: 20px;
    display: flex;
    align-self: flex-end; }
    .technic__circal::before {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 2px solid #ff3e79;
      border-right: 2px solid #ff3e79;
      rotate: 45deg;
      position: absolute;
      right: 35px;
      top: 121px; }
  .technic__pagination {
    position: absolute !important;
    top: 188px !important; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .technic {
      height: 184px;
      width: 768px;
      margin-right: auto;
      margin-left: 0 !important;
      margin-bottom: 24px;
      transition-duration: 0.5s; }
      .technic__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
        height: 688px !important; }
      .technic__slide {
        width: 224px !important; }
      .technic__text {
        width: 190px; } }
  @media (min-width: 1440px) {
    .technic {
      height: 184px;
      width: 1056px;
      margin-right: auto;
      margin-left: 0 !important;
      margin-bottom: 24px;
      transition-duration: 0.5s; }
      .technic__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 32px;
        height: 512px !important; } }

.brands {
  height: 116px;
  width: 100%;
  background-color: #f8f8f8;
  box-sizing: border-box; }
  .brands__wrapper {
    padding-top: 16px; }
  .brands__slide {
    width: 240px !important;
    height: 72px !important; }
  .brands__image {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 206px;
    height: 72px;
    background-color: white;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .brands__circal {
    height: 36px;
    width: 36px;
    border: 2px solid #ff3e79;
    border-radius: 20px;
    display: flex; }
    .brands__circal::before {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 2px solid #ff3e79;
      border-right: 2px solid #ff3e79;
      rotate: 45deg;
      position: absolute;
      right: 35px;
      top: 32px; }
  .brands__pagination {
    position: absolute !important;
    top: 100px !important; }
  @media (min-width: 768px) and (max-width: 1439px) {
    .brands {
      height: 180px;
      width: 768px;
      margin-right: auto;
      margin-left: 0 !important;
      margin-bottom: 24px;
      transition-duration: 0.5s; }
      .brands__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
        height: 340px !important; }
      .brands__slide {
        width: 224px !important; }
      .brands__image {
        width: 190px; } }
  @media (min-width: 1440px) {
    .brands {
      height: 180px;
      width: 1056px;
      margin-right: auto;
      margin-left: 0 !important;
      margin-bottom: 24px;
      transition-duration: 0.5s; }
      .brands__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 32px;
        height: 252px !important; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .full-technic {
    height: 720px !important;
    transition-duration: 0.5s; } }

@media (min-width: 1440px) {
  .full-technic {
    height: 540px !important;
    transition-duration: 0.5s; } }

.call {
  width: 100%;
  height: 100vh;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  right: -600px;
  top: 0;
  z-index: 2000;
  transition-duration: 0.5s; }
  .call__close {
    padding-bottom: 32px; }
  .call__title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    white-space: -0.6px;
    padding-bottom: 24px;
    display: flex;
    align-items: center; }
    .call__title::before {
      content: '';
      border: 2px solid #41f6d7;
      height: 36px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      position: absolute;
      left: 0; }
  .call__tel {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    padding-bottom: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding: 12px 16px;
    outline: none; }
    .call__tel::-webkit-input-placeholder {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px; }
    .call__tel::-moz-placeholder {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px; }
    .call__tel:-ms-input-placeholder {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px; }
    .call__tel::placeholder {
      color: #b5b6bc;
      font-size: 16px;
      line-height: 24px; }
  .call__inform {
    font-size: 14px;
    color: #7e7e82;
    padding-top: 16px;
    padding-bottom: 18px; }
  .call__warning {
    color: #ff3e79; }
  .call__submit {
    background-color: #ff3e79;
    padding-left: 10px;
    color: #ffffff;
    font-size: 12px;
    width: 136px;
    height: 32px;
    border: none;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    white-space: -0.15px; }
    .call__submit::after {
      content: '';
      background-color: white;
      border: 1px solid #ffffff;
      width: 7px;
      border-radius: 3px;
      transform: rotate(35deg);
      position: relative;
      left: 17px;
      top: -2px; }
    .call__submit::before {
      content: '';
      background-color: white;
      border: 1px solid #ffffff;
      width: 7px;
      border-radius: 3px;
      transform: rotate(-35deg);
      position: relative;
      left: 100px;
      top: 2px; }
  .call__button-position {
    display: flex;
    justify-content: flex-end; }
  @media (min-width: 768px) {
    .call {
      width: 400px; }
      .call__close {
        position: fixed;
        right: 70px; } }

.open-call {
  right: 0 !important;
  z-index: 2000;
  transition-duration: 0.5s; }


/*# sourceMappingURL=style.css.map*/