.brands {
  height: 116px;
  width: 100%;
  background-color: #f8f8f8;
  box-sizing: border-box;
  &__wrapper {
    padding-top: 16px;
  }

  &__slide {
    width: 240px !important;
    height: 72px !important;
  }
  &__image {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 206px;
    height: 72px;
    background-color: white;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__circal {
    height: 36px;
    width: 36px;
    border: 2px solid #ff3e79;
    border-radius: 20px;
    display: flex;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 2px solid #ff3e79;
      border-right: 2px solid #ff3e79;
      rotate: 45deg;
      position: absolute;
      right: 35px;
      top: 32px;
    }
  }

  &__pagination {
    position: absolute !important;
    top: 100px !important;
  }
  @media (min-width: 768px) and (max-width: 1439px) {
    height: 180px;
    width: 768px;
    margin-right: auto;
    margin-left: 0 !important;
    margin-bottom: 24px;
    transition-duration: 0.5s;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 24px;
      height: 340px !important;
    }

    &__slide {
      width: 224px !important;
    }

    &__image {
      width: 190px;
    }
  }

  @media (min-width: 1440px) {
    height: 180px;
    width: 1056px;
    margin-right: auto;
    margin-left: 0 !important;
    margin-bottom: 24px;
    transition-duration: 0.5s;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 32px;
      height: 252px !important;
    }
  }
}
