.full-brands {
  @media (min-width: 768px) and (max-width: 1439px) {
    height: 360px !important;
    transition-duration: 0.5s;
  }

  @media (min-width: 1440px) {
    height: 270px !important;
    transition-duration: 0.5s;
  }
}
