.more-content {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: none;
  padding-left: 8px;
  gap: 16px;
  text-decoration: none;
  color: $black;
  border: none;
  background-color: $background;
  outline: none !important;

  &__icon {
    display: inline-block;
    color: $green;
    transform: rotate(90deg);
    transition-duration: 0.5s;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}
