.swiper-pagination {
  @media (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #b5b6bc !important;
}
